<section class="custom-script">
  <div class="container">
      {{ section.settings.liquid }}
  </div>
</section>

{% schema %}
{
  "name": "HTML/Liquid",
  "tag": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "liquid",
      "label": "HTML/Liquid code"
    }
  ],
  "presets": [
    {
      "name": "HTML/Liquid"
    }
  ]
}
{% endschema %}