<section class="richtext-block">
  <div class="container py-lg-3">
    <div class="row">
      <div class="col-md-10 col-lg-7 mx-auto">
          {% unless section.settings.title == blank %}
            <h2 class="h3">
              {{ section.settings.title }}
            </h2>
          {% endunless %}
          {% unless section.settings.description == blank %}
              {{ section.settings.description }}
          {% endunless %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Richtext",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Richtext"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description (optional)",
      "default": "<p>Add on optional description for this section</p>"
    }
  ],
  "presets": [
    {
      "name": "Richtext"
    }
  ]
}
{% endschema %}